
/*-- commen style--*/
.container{
	width:1320px;
	margin:0 auto;
	padding:0 15px;
}
.row{
	 display:flex;
	 flex-wrap:nowrap;
	 margin-right:-15px;
	 margin-left:-15px;
}
.row>*{
	 width:100%;
	 padding:0 15px;
}
:root{
	--primary-color:#00bcd4;
	--secondry-color:#333333;
	--bg-color:#f8feff;
}
 /*column-largerdevice-num1*/
.col-lg-1{
	      width:8.33%;
}
.col-lg-2{
	      width:16.66%;		 
}
.col-lg-3{
	      width:25%;		 
}
.col-lg-4{
	      width:33.33%;
}
.col-lg-5{
	      width:41.6%;		 
}
.col-lg-6{
	      width:50%;		 
}
.col-lg-7{
	      width:58.3%;		 
}
.col-lg-8{
	      width:66.66%;	  
}
.col-lg-9{
	      width:75%;	 
}
.col-lg-10{
	      width:83.33%;		 
}
.col-lg-11{
	      width:91.66%;		  
}
.col-lg-12{
	      width:100%;
		 }
.justify-content-start{
	   justify-content:flex-start !important;
	}
.justify-content-end{
	justify-content:flex-end !important;
}
.justify-content-between{
	justify-content:space-between!important;
}
.justify-content-around{
	justify-content:space-around!important;
}
.justify-content-evenly{
	justify-content:space-evenly!important;
}
.align-items-start{
	align-items:flex-start !important;
}
.align-items-end{
	align-items:flex-end !important;
}
.align-items-center{
	align-items:center !important;
}
.align-items-baseline{
	align-items:baseline !important;
	
}
.btn{
	display:inline-block;
	text-decoration:none;
	color:white;
	padding:12px 25px;
	text-align:center;
	font-size:17px;
	background-color:#00CED1;
}
.text-left{
	text-align:left !important;
}
.text-center{
	text-align:center !important;
}
.text-right{
	text-align:right !important;
}
.text-justify{
	text-align:justify !important;
}

                  /*head-top style*/
.header-top{
	background-color:white;
}
.header-info{
	 background-color:#39312f;
}
.contact-info span{
	         color:white;
			 font-size:15px;
			 margin-right:10px;
			 display:inline-block;
			 padding:10px 0;
}
.contact-info span>a{
			color:white;
			text-decoration:none;
}
.contact-info span>a:hover{
	color:#00CED1;
}
.contact-info span>i{
	color:#00CED1;
	font-size:20px;
	margin-right:5px;
}
.info-btn{
	 background-color:#00CED1;
	 height:100%;
}
                /*  nav-section style*/

.nav-section{
        padding:15px 0;
}				
h1.logo a{
	display:inline-block;
	font-size:35px;
	text-decoration:none;
	color:black;
	font-weight:400px;
}
.menubar{
	display:flex;
	justify-content:flex-end;
}
.menubar .nav-link a{
	display:block;
	text-decoration:none;
	color:black;
	padding:5px 15px;
	font-size:15px;
}
.nav-link a:hover{
	 color:#00CED1;
}
.nav-link a.active{
	color:#00CED1;
}
	
				/*  banner style*/

.ban-section{
	background-image:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url("heros.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	padding:240px 0;
	margin-bottom:-120px;
}	
.ban-content{
	width:50%;
}
.ban-content h1{
	color:white;
	font-size:55px;
	font-family:'Raleway', sans-serif;
	margin-bottom:15px;
}
.ban-content p{
	color:white;
	font-size:20px;
	margin-bottom:40px;
}
.bnr-btn{
	 position:relative;
	 display:inline-block;
	 padding:5px 0 5px 30px;
}
.bnr-btn a.btn{
	border-radius:25px;
	background-color:#333333;
	letter-spacing:1px;
	font-weight:400px;
}
.bnr-btn a.btn:hover{
	 background-color:#00CED1;
}
.bnr-btn>i{
	position:absolute;
	top:0;
	left:0;
	background-color:#00CED1;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:white;
	border-radius:50%;
	box-shadow:5px 0 4px -1px #333333;
}
             /* why choose */		

.why-choose{
	  /* background-color:#39312f;*/
	   padding:20px 0;
	   
}
.choose{
	color:white;
	background-color:var(--primary-color);
	padding:35px 25px;
	border-radius:5px;
	text-align:center;
}
.choose h3{
	font-size:32px;
	margin-bottom:30px;
	text-align:left;
	font-family:'Raleway', sans-serif;
	line-height:35px;
}
.choose p{
	margin-bottom:30px;
	text-align:left;
}
.choose a{
	display:inline-block;
	text-decoration:none;
	border-radius:25px;
	background-color:#43cfd7;
	padding:10px 25px;
	color:white;
	transition:all 0.3s ease;
}
.choose a:hover{
	color:var(--primary-color);
	background-color:white;
}
.choose i{
	margin-left:7px;
	font-size:15px;
}
.choose-items{
	background-color:white;
	border-radius:15px;
	padding:30px 20px;
	box-shadow:0 4px 10px #ccc;
	text-align:center;
	height:100%;
}	
.choose-items h4{
	font-size:20px;
	margin-bottom:30px;
}
.choose-items p{
	color:#7d7575;
}
.choose-items i{
	color:var(--primary-color);
	font-size:35px;
	margin-bottom:30px;
}		 
              /*  about section style   */
.abt-section{
	background-color:var(--bg-color);
	padding:80px 0;
	
}	
.abt-image{
	background-image:url("about.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.play-btn{
	background-color:var(--primary-color);
	width:70px;
	height:70px;
	border-radius:50%;
	color:white;
	text-align:center;
	line-height:70px;
	font-size:30px;
	
}
.abt-content{
	padding:10px 0 10px 25px;;
}	
.abt-content h5{
	color:#999;
	font-size:20px;
	margin-bottom:20px;
}
.abt-content h2{
	color:#4e4949c2;
	font-size:28px;
}	
.abt-content p{
		margin-top:20px;	
}
.abt-items{
	display:flex;
	margin-top:40px;
	align-items:flex-start;
}
.abt-items .abt-icons{
	width:60px;
	height:60px;
	border-radius:50%;
	border:2px solid var(--primary-color);
	background-color:white;
	text-align:center;
	color:var(--primary-color);
	line-height:60px;
	font-size:35px;
	flex:0 0 auto;
} 
.abt-items .abt-icons:hover{
	background-color:var(--primary-color);
	color:white;
}
.abt-items .abt-text{
	padding-left:20px;
}
.abt-text h3{
	margin-bottom:15px;
	color:var(--secondary-color);
}

	    /*   life-logo style  */
		
.life-logo{
	padding:40px 0;
}
.logos{
	padding:20px 25px;
}
.logos img{
	width:100%;
	height:auto;
	filter:grayscale(100%);
	opacity:0.5;
}
.logos:hover img{
	filter:grayscale(0%);
	opacity:1
}
.circle{
	text-align:center;
	padding:0 0 20px 0;
}	
.circle span{
	display:inline-block;
	width:12px;
	height:12px;
	border:1px solid var(--primary-color);
	border-radius:50%;
	background-color:white;
	opacity:0.8;
	margin:0 2px;
	cursor:pointer;
}
.circle span:hover{
	background-color:var(--primary-color);
}
.circle span.active{
	background-color:var(--primary-color);
}	
       /*  services style  */
	    
.services-sect{
	background-color:#ccebf133;
	padding:70px 0 100px 0;
}
.lorem-title{
	text-align:center;
}	
.lorem-title h2{
	color: #635551;
	font-size:35px;
	margin-bottom:20px;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
}
.lorem-title p{
	font-size:18px;
	margin-bottom:30px;
}
.lorem{
	background-color:white;
    margin-top:50px;
	position:relative;
	padding:45px 20px 30px;
	box-shadow:0 0 8px #ccc;
	text-align:center;
}
.lorem .service{
	position:absolute;
	top:-30px;
	left:50%;
	width:60px;
	height:60px;
	text-align:center;
	line-height:60px;
	color:#fff;
	font-size:23px;
	transform:translateX(-50%);
	z-index:1;
}
.service:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid var(--primary-color);
	border-radius:50%;
	background-color:var(--primary-color);
	z-index:-1;
	transition:all 0.2s ease;
}
.lorem:hover .service:after{
	transform: scale(1.2);
	background-color:white;
}
.lorem:hover .service, .lorem:hover h3 a{
	color: var(--primary-color);
}
.lorem h3 a{
	display:inline-block;
	font-size:22px;
	margin-bottom:30px;
	text-decoration:none;
	color:#635551;
}
      /* our plan  */

.our-plan{
	background-color:white;
	padding:50px 0;
}
.head{
	position:relative;
	padding:10px 0px;

}
.plan1{
	background-image:url("value1.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:15px;
	padding:260px 20px 60px 20px;
}
.plan1:hover .dolor{
	background-color:var(--primary-color);
	color:white;
}
.plan1:hover .dolor a{
	background-color:var(--primary-color);
	color:white;
}
.dolor a:hover{
	text-decoration:underline;
}
.plan1 a{
	text-decoration:none;
	color:black;
}
.plan2{
	background-image:url("value2.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:15px;
	padding:260px 20px 60px 20px;
}
.plan2:hover .dolor {
	background-color:var(--primary-color);
	color:white;
}
.plan2:hover .dolor a {
	background-color:var(--primary-color);
	color:white;
	
}
.dolor a:hover
{
	text-decoration:underline;
}
.plan2 a
{
	 text-decoration:none;
	 color:black;
}
.plan3{
	background-image:url("value3.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:15px;
	padding:260px 20px 60px 20px;
}
.plan3:hover .dolor {
	background-color:var(--primary-color);
	color:white;
}
.plan3:hover .dolor a {
	background-color:var(--primary-color);
	color:white;
}
.dolor a:hover
{
	text-decoration:underline;
}
.plan3 a
{
	 text-decoration:none;
	 color:black;
}
.plan4{
	background-image:url("value4.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:15px;
	padding:260px 20px 60px 20px;
}
.plan4:hover .dolor {
	background-color:var(--primary-color);
	color:white;
}
.plan4:hover .dolor a {
	background-color:var(--primary-color);
	color:white;
}
.dolor a:hover
{
	text-decoration:underline;
}
.plan4 a
{
	 text-decoration:none;
	 color:black;
}
.dolor{
	position:absolute;
	top:160px;
	left:42px;
	background-color:#ffffffc4;
	padding:10px 20px;
	width:550px;
	border-radius:10px;
}
.dolor h3{
	font-family:'Raleway', sans-serif;
	font-size:25px;
	text-align:center;
	margin-bottom:10px;
}
.dolor p{
	font-family:'Raleway', sans-serif;
	margin-bottom:15px;
	text-align:justify;
	padding:0 20px;
}
.dolor span:hover{
	 text-decoration:underline;
}
.dolor i{
	margin-left:10px;
}




			/* goodman image */  

.good-image{
	background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url("text.jpg");
	background-size:cover;
	background-position:center;
	padding:30px;
	margin-bottom:50px;
}
.imga img{
	max-width:8%;
	border-radius:50%;
	border:6px solid rgba(255,255,255,0.2);
	margin-top:50px;
	margin-bottom:15px;
}
.jena{
	color:white;
	text-align:center;
}
.jena h2{
	font-family:'Raleway', sans-serif;
	margin-bottom:5px;
}
.jena h3{
	font-family:"Open Sans", sans-serif;
    font-weight: 400;
	font-size:15px;
	margin-bottom:30px;
}
p i{
	color:gray;
	font-size:2px;
}
.circl{
	color:gray;
	margin-top:30px;
	letter-spacing:2px;
	margin-bottom:40px;
	
}
.circl:hover{
	cursor:pointer;
}
.circl span{
	color:var(--primary-color);
	cursor:pointer;
}		 
					/* port style*/
   
.port-sect{
	background-color:white;
	padding:30px 0 30px 0;
} 
.port-title h2{
	   	font-family:"Poppins", sans;
		font-size:30px;
		padding:5px 0 30px 0;
}
.port-title p{
		font-family:'Raleway', sans-serif;
		font-size:17px;
}
.port-list{
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding:30px;
}
.port-list li{
	padding:20px;
	cursor:pointer;
}
.port-list li:hover{
	background-color:var(primary-color);
	color:var(primary-color);
} 
.thinks img{
	width:100%;
	margin:10px;

}
		/* team style*/
		
.team-sect{
	background-color:#ff5821;
	padding:30px 0;
}
.team-title{
	background-color:#39312f;
	height:20px;
}
.team-para{
	background-color:#39312f;
	height:30px;
	margin-top:30px;
}		
.team-member{
	background-color:#39312f;
	height:300px;
	margin-top:50px;
}
         /*pricing style*/
		 
.prici-sect{
	background-color:#39312f;
	padding:40px 0;
}
.prici-title{
	background-color:#ff5821;
	height:20px;
}
.prici-para{
	background-color:#ff5821;
	height:40px;
	margin-top:40px;
}	
.prici-marks{
	background-color:#ff5821;
	height:300px;
	margin-top:40px;
}	 
		 /* fqa style*/
		 
.faq-sect{
	background-color:#ff5821;
	padding:30px 0;
}
.faq-title{
	background-color:#39312f;
	height:20px;
    margin-top:30px;
}
.faq-para{
	background-color:#39312f;
	height:40px;
	margin-top:30px;
}
.non{
	background-color:#39312f;
	height:200px;
	margin-top:30px;
}
.doller{
	background-color:#39312f;
	height:100px;
	margin-top:30px;
}
         /*  contact style */

.cont-sect{
	background-color:#39312f;
	padding:30px 0;
}
.cont-title{
	background-color:#ff5821;
	height:20px;
    margin-top:30px;
}
.cont-para{
	background-color:#ff5821;
	height:40px;
    margin-top:30px;
}
.address{
	background-color:#ff5821;
	height:200px;
	margin-top:40px;
}
.form{
	background-color:#ff5821;
	height:400px;
	margin-top:30px;
}
     /* links style*/
.link-sect{
	background-color:#ff5821;
	padding:30px;
}
.services{
	background-color:#39312f;
	height:300px;
	margin-top:30px;
}
     /*footer style*/

.footer-sect{
	background-color:#39312f;
	padding:30px 0;
}
.footer{
	background-color:#ff5821;
	height:60px;
	margin-top:20px;
}
	 

























		 